@page
@model GreenLocator.Pages.EnterInfoModel
@{
}
<h1>You have not yet entered correct address info</h1>
<br /><br /><br />

<article>
    <h2>Please enter your city, street and house number here:</h2>
    <br />

    <label for="CurrentUser">City:</label>
    <input type="text" id="CurrentUser" placeholder="Enter city" maxlength="50">
    <br /><br />

    <label for="CurrentUser">Street:</label>
    <input type="text" id="CurrentUser" placeholder="Enter street" maxlength="50">
    <br /><br />

    <label for="CurrentUser">House:</label>
    <input type="text" id="CurrentUser" placeholder="Enter house number" maxlength="50">
    <br /><br />

</article>