@page

@using GreenLocator.Models;
@using Microsoft.AspNetCore.Mvc;

@model GreenLocator.Pages.EnterInfoModel

@inject GreenLocatorDBContext _context

@functions {

    public string Values(string input)
    {
        if (User.Identity == null)
        {
            return "error";
        }

        AspNetUser current = _context.AspNetUsers.First(x => x.UserName == User.Identity.Name);

        if (input == "City")
        {
            if (current.City != null)
            {
                return current.City;
            }
            else
            {
                return "";
            }
        }
        else if (input == "Street")
        {
            if (current.Street != null)
            {
                return current.Street;
            }
            else
            {
                return "";
            }

        }
        else
        {
            if (current.House != null)
            {
                return current.House.ToString();
            }
            else
            {
                return "";
            }
        }
    }

}

<article>
    <h2>Please enter your city, street and house number here:</h2>
    <br />

    <form method="post">
        <div class="mb-3">
            <label class="form-label">City</label>
            <input id="City" type="text" asp-for="EnterInfoViewModel.CityInput" class="form-control" placeholder="Enter city" value=@Values("City") />
            <span class="text-danger" asp-validation-for="EnterInfoViewModel.CityInput"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Street</label>
            <input type="text" asp-for="EnterInfoViewModel.StreetInput" class="form-control" placeholder="Enter street" value=@Values("Street") />
            <span class="text-danger" asp-validation-for="EnterInfoViewModel.StreetInput"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">House</label>
            <input type="number" asp-for="EnterInfoViewModel.HouseInput" class="form-control" placeholder="Enter house number" value=@Values("House") />
            <span class="text-danger" asp-validation-for="EnterInfoViewModel.HouseInput"></span>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
    </form>

    <br />

    <div class="mb-3">
        <label class="form-label">Address of place selected on map</label>
        <input id="Address" class="form-control" type="text" placeholder="Move marker on map" value="" />
        <span class="text-danger"></span>
    </div>

</article>


<div id="map" style="height:500px; width:100%;"></div>
<script>
    var marker;
    var address;
    var geocode;

    function initMap() {
        var location = { lat: 54.700, lng: 25.200 };

        var map = new google.maps.Map(document.getElementById("map"), {
            center: location,
            zoom: 10
        });

        marker = new google.maps.Marker({
            position: location,
            map: map,
            draggable: true

        });

        geocoder = new google.maps.Geocoder();

        google.maps.event.addListener(marker, 'dragend', function () {
            geocodePosition(marker.getPosition());
            address = marker.formatted_address;
            document.getElementById('Address').value = address;
        });
    }

    function geocodePosition(pos) {
        geocoder.geocode({
            latLng: pos
        }, function (responses) {
            if (responses && responses.length > 0) {
                marker.formatted_address = responses[0].formatted_address;
            } else {
                marker.formatted_address = 'Cannot determine address at this location.';
            }
        });
    }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZfQ62pORi0-_D7K1AAtM_6TAum26HLfk&callback=initMap"></script>