@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Green Locator!</h1>
    <p>Here you can find neighbors to share your power-hungry home appliances with.</p>
    <p></p>
    <p>Login to continue</p>
</div>
