@page
@model PrivacyModel
@{
    ViewData["Title"] = "Information about the project";
}
<h1>@ViewData["Title"]</h1>

<p>This project has been developed by</p>
<ul>
    <li>Jostautas Sakas</li>
    <li>Dominykas Pakenis</li>
    <li>Lukas Pupelis</li>
</ul>
<br />
<p>2022</p>