@page
@model GreenLocator.Pages.MainModel
@{
    ViewData["Title"] = "Main window";
}

<h2>Select if you want to borrow, or share:</h2>
<form method="post">

    <select name="ActionInput">
        <option value="">Select...</option>
        <option value="Borrow">Borrow</option>
        <option value="Offer">Offer</option>
    </select>

    <h2>Select the type of appliance:</h2>

    <select name="ApplianceInput">
        <option value="">Select...</option>
        <option value="Washing machine">Washing machine</option>
        <option value="Oven">Oven</option>
    </select>

    <input type="submit" value="Confirm">
</form>

<br />

<h2>Number of current matches is @MainModel.currentNumberOfMatches</h2>

<br />

<h2>Your current selection:</h2>
@if (Model.currentUser.ShareStatus != Status.NoValue && Model.currentUser.ThingToShare != Appliance.NoValue)
{
    <p>@Model.currentUser.ShareStatus</p>
    <p>@Model.currentUser.ThingToShare</p>
}
else
{
    <p>Not selected</p>
}

<button onclick="location.href='https://localhost:7150/EnterInfo'" type="button">
    Change Adress
</button>

<br />