@page
@using GreenLocator.Pages
@model GreenLocator.WebServiceController
@{
    ViewData["Title"] = "ElectricityPrices";
}

<h2>The List of current prices in EU:</h2>

<script src="//code.jquery.com/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function(){
        var loadPrices = function () {
            $('#price-list').empty();
            $.get('/api/WebService').done(function (prices) {
                $.each(prices, function (i, price) {
                    var item = `<li>
                                                <span class="entry">
                                                    <strong>${price.country} ${price.price}</strong>
                                                    </span>
                                                </li>`;
                    $('#price-list').append(item);
                });
            });
        }

        loadPrices();
    });
</script>

<div id="price-list"></div>


