@page
@using GreenLocator.Pages
@model GreenLocator.WebServiceController
@{
    ViewData["Title"] = "ElectricityPrices";
}

<h2>The List of current prices in EU:</h2>


<table class="table">
    <tr>
        <th>Country</th>
        <th>Price</th>

    </tr>



</table>

