@page
@using GreenLocator.Pages
@model GreenLocator.WebServiceController
@{
    ViewData["Title"] = "ElectricityPrices";
    string countr = "Lithuania";
    int borrowedOven = 8; // how many hours was it running
    int borrowedWashingM = 4; // how many times was it used

    int OvenConsumption = 3500; // power consumtion of an average consumer product in Wats
    int WashingMConsumption = 3000; // Wh consumed for one wash (2h * 1.5kW)


}

@functions{
    public double TotalConsumption(int borrowedWashingM, int WashingMConsumption, int borrowedOven, int OvenConsumption)
    {
        return ((borrowedWashingM * WashingMConsumption) + (borrowedOven * OvenConsumption)) / 1000; // returns kWh
    }

    public string? Country;
    public int? BorrowedOven;
    public int? BorrowedWashingM;

    /*public IActionResult Refresh(int borrowedWashingM, int borrowedOven, string countr)
    {
        return Page();
    }

    public IActionResult OnPost(int borrowedWashingM, int borrowedOven, string countr)
    {
        if (User.Identity == null)
        {
            return RedirectToPage("Error");
        }

            countr = Request.Form["Country"];
        
        Refresh(borrowedWashingM, borrowedOven, countr);
    }*/
}

<article>
    <h2>Please enter how many hours you have shared your oven and washing machine:</h2>
    <br />

    <form method="post">

        <div class="mb-3">
            <label class="form-label">baking hours</label>
            <input type="number" class="form-control" placeholder="0"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Washing machine uses</label>
            <input type="number" class="form-control" placeholder="0"/>
        </div>

    <h2>Select country:</h2>

        <select name="Country">
            <option value="">Select...</option>
            <option value="Austria">Austria</option>
            <option value="Belgium">Belgium</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Lithuania">Lithuania</option>
        </select>

        <br />
        <br />

        <div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
    </form>

    <br />

</article>

<h2>The List of current prices in EU:</h2>

<script src="//code.jquery.com/jquery.min.js" type="text/javascript"></script>



<div id="price-list"></div>

<h3>Now you save:</h3>
<div id="saved-amount"></div>
<div id="selected-country"></div>

<script>
    $(function () {
        var loadPrices = function () {
            $('#price-list').empty();
            $.get('/api/WebService').done(function (prices) {
                $.each(prices, function (i, price) {
                    var item = `<li>
                                                    <span class="entry">
                                                        <strong>${price.country} ${price.price}</strong>
                                                        </span>
                                                    </li>`;
                    $('#price-list').append(item);
                });
            });
        }

        loadPrices();
    });
</script>

<script>
    $(function () {
        var loadPrice = function () {
            $('#saved-amount').empty();
            $.get('/api/WebService/@countr').done(function (country) {
                var item =
                    `<span class="entry">
                        <strong>Now you saved: @TotalConsumption(borrowedWashingM, WashingMConsumption, borrowedOven, OvenConsumption) kWh
                            = ${country.price/1000 * @TotalConsumption(borrowedWashingM, WashingMConsumption, borrowedOven, OvenConsumption)}
                            euros</strong>
                     </span>`;
                $('#saved-amount').append(item);
            });
        }

        loadPrice();
    });
</script>


<script>
    $(function () {
        var loadPrice = function () {
            $('#selected-country').empty();
            $.get('/api/WebService/@countr').done(function (countr) {
                var item =
                    `<span class="entry">
                        <strong>Result is based on this data: country: ${countr.country}, Price (Eur/MWh): ${countr.price}</strong>
                    </span>`;
                $('#selected-country').append(item);
            });
        }

        loadPrice();
    });
</script>
