@page
@model GreenLocator.Pages.ChatIndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome To The Green Locator Chat!</h1>
    <p>Here you can chat with neighbors to communicate about your power-hungry home appliances.</p>
    <p></p>
    <p>Login to continue</p>
</div>

