@page

@using GreenLocator.Models;
@using Microsoft.AspNetCore.Mvc;

@model GreenLocator.Pages.EnterInfoModel

@inject GreenLocatorDBContext _context

@functions {
    //Delegates.StringToString dValues = Values;

    public string Values(string input)
    {
        if(User.Identity == null)
        {
            return "error";
        }

        AspNetUser current = _context.AspNetUsers.First(x => x.UserName == User.Identity.Name);

        if (input == "City")
        {
            if(current.City != null){
                return current.City;
            }
            else
            {
                return "";
            }
        }
        else if (input == "Street")
        {
            if(current.Street != null)
            {
                return current.Street;
            }
            else
            {
                return "";
            }

        }
        else
        {
            if(current.House != null)
            {
                return current.House.ToString();
            }
            else
            {
                return "";
            }
        }
    }
}
<h1>You have not yet entered correct address info</h1>
<br />
<br />
<br />

<article>
    <h2>Please enter your city, street and house number here:</h2>
    <br />

    <form method="post">
        <div class="mb-3">
            <label class="form-label">City</label>
            <input type="text" asp-for="EnterInfoViewModel.CityInput" class="form-control" placeholder="Enter city" value=@Values("City") />
            <span class="text-danger" asp-validation-for="EnterInfoViewModel.CityInput"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Street</label>
            <input type="text" asp-for="EnterInfoViewModel.StreetInput" class="form-control" placeholder="Enter street" value=@Values("Street") />
            <span class="text-danger" asp-validation-for="EnterInfoViewModel.StreetInput"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">House</label>
            <input type="number" asp-for="EnterInfoViewModel.HouseInput" class="form-control" placeholder="Enter house number" value=@Values("House") />
            <span class="text-danger" asp-validation-for="EnterInfoViewModel.HouseInput"></span>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
    </form>

</article>