@page
@model GreenLocator.Pages.MainModel
@{
    ViewData["Title"] = "Main window";
}
<p>Your current address info:</p>
<p>city=@Model.currentUser.City    Street=@Model.currentUser.Street    House=@Model.currentUser.house</p>


<h1>Select if you want to borrow, or share:</h1>
    <form method="post">

        <select name="number">
            <option value="">Select...</option>
            <option value="1">Borrow</option>
            <option value="2">Share</option>
        </select>
    
<h1>Select the type of appliance:</h1>

        <select name="number">
            <option value="">Select...</option>
            <option value="1">Washing machine</option>
            <option value="2">Microwave</option>
        </select>

<h1>When ready, confirm your choices:</h1>

    <input type="submit" value="Confirm">
    </form>
