@page
@model GreenLocator.Pages.MainModel
@{
    ViewData["Title"] = "Main window";
}
<p>Your current address info:</p>
<p>city=@Model.currentUser.City    Street=@Model.currentUser.Street    House=@Model.currentUser.house</p>


<h1>Select if you want to borrow, or share:</h1>
    <form method="post">

    <select name="ActionInput">
            <option value="">Select...</option>
            <option value="Borrow">Borrow</option>
            <option value="Share">Share</option>
        </select>
    
<h1>Select the type of appliance:</h1>

    <select name="ApplianceInput">
            <option value="">Select...</option>
        <option value="Washing machine">Washing machine</option>
        <option value="Microwave">Microwave</option>
        </select>

<h1>When ready, confirm your choices:</h1>

    <input type="submit" value="Confirm">
    </form>
