@page
@model GreenLocator.Pages.MainModel
@{
    ViewData["Title"] = "Main window";
}
<p>Your current address info:</p>

<h1>Select if you want to borrow, or share:</h1>
    <form method="post">

    <select name="ActionInput">
            <option value="">Select...</option>
            <option value="Borrow">Borrow</option>
            <option value="Share">Share</option>
        </select>
    
<h1>Select the type of appliance:</h1>

    <select name="ApplianceInput">
            <option value="">Select...</option>
        <option value="Washing machine">Washing machine</option>
        <option value="Oven">Oven</option>
        </select>

<p></p>
    <input type="submit" value="Confirm">
    </form>

<h2>Your current selection:</h2>
@if(Model.currentUser.ShareStatus != null && Model.currentUser.ThingToShare != null){
    <p>@Model.StatusArr[(int)Model.currentUser.ShareStatus]</p>
    <p>@Model.ThingArr[(int)Model.currentUser.ThingToShare]</p>
}
else{
    <p>No options selected</p>
}