@page
@model GreenLocator.Pages.MainModel
@{
    ViewData["Title"] = "Main window";
}
<p>@Model.currentUser.City</p>
<h1>Select if you want to borrow, or share</h1>

<h1>Select the type of appliance</h1>